<a href="https://colab.research.google.com/github/amalzatev/Design-automation-Autocad-Electrical/blob/main/Copia_de_RTU.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install xlrd==1.2.0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd==1.2.0 in /usr/local/lib/python3.8/dist-packages (1.2.0)

In [ ]:
# INICIELMENTE SE HACE LA COPIA DE LOS MODULOS BASE
#    1. LA NUMERACION DE LA PAGINA INICIAL DEBE SER 140

import numpy as np
import shutil
import pandas as pd

Modulos_24 = 4
Modulos_125 = 8
Modulos_salidas = 3
Medidores = 12
sub = 'R15-RTU-'

In [ ]:
sub[0:-1]

'R15-RTU'

#COMPONENTES

In [ ]:
def Change_comp(Model,Modulo,R,Rack,pag,n,sub,M):
  Prev_Rack = R + str(Modulo)
  Prev_Bor = Rack +  str(Modulo) + M

  if Modulo > 65 - 4 and n < 1:
    Modulo = 13
    n = n+1
    Rack = str(n)
    R = 'R' + Rack + 'BIR01S'
  elif Modulo > 81 - 4:
    Modulo = 13
    n = n+1
    Rack = str(n)
    R = 'R' + Rack + 'BIR01S'

  Model.replace([Prev_Bor, Prev_Rack],[Rack +  str(Modulo + 4) + M, R + str(Modulo + 4)],inplace = True)

  for i in range(len(Model)):

    Model.at[i,'(FILENAME)'] = sub + str(int(Model.at[i,'(FILENAME)'][8:11]) + pag) + Model.at[i,'(FILENAME)'][11::]

    if Model.iloc[i]['FAMILY'] == 'CR':
      x = Model.at[i,'TAGNAME']
      Model.at[i,'TAGNAME'] = x.replace(Prev_Bor, Rack +  str(Modulo + 4) + M)
  
  Modulo = Modulo + 4
  return Model, n, Modulo, R, Rack

In [ ]:
def Change_comp_IN(Model,Modulo,R,Rack,Modulo_IN,R_IN,Rack_IN,pag,n,sub,M):
  Prev_Rack = R_IN + str(Modulo_IN)
  Prev_Bor = Rack_IN +  str(Modulo_IN) + M

  Model.replace([Prev_Bor, Prev_Rack],[Rack +  str(Modulo + 4) + M, R + str(Modulo + 4)],inplace = True)

  for i in range(len(Model)):

    Model.at[i,'(FILENAME)'] = sub + str(int(Model.at[i,'(FILENAME)'][8:11]) + pag) + Model.at[i,'(FILENAME)'][11::]

    if Model.iloc[i]['FAMILY'] == 'CR':
      x = Model.at[i,'TAGNAME']
      Model.at[i,'TAGNAME'] = x.replace(Prev_Bor, Rack +  str(Modulo + 4) + M)
  
  Modulo = Modulo + 4
  return Model, n, Modulo, R, Rack

In [ ]:
###################################################################################################################
####                                     CREAR EXCELL DE COMPONENTES                                            ###
###################################################################################################################
#

import pandas as pd

Data_comp = pd.DataFrame()
Modulo = 17
Rack =''
R = 'R0BIR01S'
n = 0

#############################################################################
####                               ENTRADAS 24                            ###
#############################################################################

# PASAR PLANTILLA A PRIMER MODULO (17ED)

if Modulos_24 > 0:
    
  df = pd.read_excel(sub[0:-1] + '.XLS')
  Model = df.copy()
  Data_comp = pd.concat([Data_comp,Model])

  for i in range(0,Modulos_24-1):
    [Model,n,Modulo,R,Rack] = Change_comp(Model,Modulo,R,Rack,2,n,sub,"ED")
    Data_comp = pd.concat([Data_comp,Model])


#############################################################################
####                               ENTRADAS 125                           ###
#############################################################################

df = pd.read_excel(sub[0:-1] + '_01.XLS') #, sheet_name='COMP'
Model = df.copy()

if Modulos_24 == 0:

  Data_comp = pd.concat([Data_comp,Model])
  
else:
  # Estos valores se cambian por el modulo actual
  [Model,n,Modulo,R,Rack] = Change_comp_IN(Model,Modulo,R,Rack,25,'R2BIR01S','2',0,n,sub,"ED")
  Data_comp = pd.concat([Data_comp,Model])

  for i in range(0,Modulos_125-1):
      [Model,n,Modulo,R,Rack] = Change_comp(Model,Modulo,R,Rack,4,n,sub,"ED")
      Data_comp = pd.concat([Data_comp,Model])

In [ ]:
#############################################################################
####                               SALIDAS                                ###
#############################################################################

df = pd.read_excel(sub[0:-1] + '_02.XLS', sheet_name='COMP')
Model = df.copy()

# Estos valores se cambian por el modulo actual
[Model,n,Modulo,R,Rack] = Change_comp_IN(Model,Modulo,R,Rack,37,'R2BIR01S','2',0,n,sub,"SD")
Data_comp = pd.concat([Data_comp,Model])

for i in range(0,Modulos_salidas-1):
    [Model,n,Modulo,R,Rack] = Change_comp(Model,Modulo,R,Rack,2,n,sub,"SD")
    Data_comp = pd.concat([Data_comp,Model])

In [ ]:
#Data_comp.iloc[68:136]
Data_comp.TAGNAME[Data_comp['(FILENAME)'] == 'R15-RTU-140.DWG'].unique()
Data_comp['(FILENAME)'].unique()

array(['R15-RTU-141.DWG', 'R15-RTU-140.DWG', 'R33-RTU-143.DWG',
       'R33-RTU-142.DWG', 'R33-RTU-145.DWG', 'R33-RTU-144.DWG',
       'R33-RTU-147.DWG', 'R33-RTU-146.DWG', 'R33-RTU-148.DWG',
       'R33-RTU-149.DWG', 'R33-RTU-150.DWG', 'R33-RTU-151.DWG',
       'R33-RTU-152.DWG', 'R33-RTU-153.DWG', 'R33-RTU-154.DWG',
       'R33-RTU-155.DWG', 'R33-RTU-156.DWG', 'R33-RTU-157.DWG',
       'R33-RTU-158.DWG', 'R33-RTU-159.DWG', 'R33-RTU-160.DWG',
       'R33-RTU-161.DWG', 'R33-RTU-162.DWG', 'R33-RTU-163.DWG',
       'R33-RTU-164.DWG', 'R33-RTU-165.DWG', 'R33-RTU-166.DWG',
       'R33-RTU-167.DWG', 'R33-RTU-168.DWG', 'R33-RTU-169.DWG',
       'R33-RTU-170.DWG', 'R33-RTU-171.DWG', 'R33-RTU-172.DWG',
       'R33-RTU-173.DWG', 'R33-RTU-174.DWG', 'R33-RTU-175.DWG',
       'R33-RTU-176.DWG', 'R33-RTU-177.DWG', 'R33-RTU-178.DWG',
       'R33-RTU-179.DWG'], dtype=object)

In [ ]:
Data_comp.to_excel(sub + 'COMP_COPIAR.xls', index=False)

<ipython-input-13-9e1a7b6da83a>:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  Data_comp.to_excel('R15-RTU_COMP_COPIAR.xls', index=False)

#BORNERAS

In [ ]:
def Change_born(Model,Modulo,Rack,pag,n,sub,M):

  Prev_Bor = Rack +  str(Modulo) + M

  if Modulo > 65 - 4 and n < 1:
    Modulo = 13
    n = n+1
    Rack = str(n)
    R = 'R' + Rack + 'BIR01S'
  elif Modulo > 81 - 4:
    Modulo = 13
    n = n+1
    Rack = str(n)
    R = 'R' + Rack + 'BIR01S'

  Model.replace([Prev_Bor],[Rack +  str(Modulo + 4) + M],inplace = True)

  for i in range(len(Model)):

    Model.at[i,'(FILENAME)'] = sub + str(int(Model.at[i,'(FILENAME)'][8:11]) + pag) + Model.at[i,'(FILENAME)'][11::]
  
  Modulo = Modulo + 4
  return Model, n, Modulo, Rack

In [ ]:
def Change_born_IN(Model,Modulo,Rack,Modulo_IN,Rack_IN,pag,n,sub,M):

  Prev_Bor = Rack_IN +  str(Modulo_IN) + M

  Model.replace([Prev_Bor],[Rack +  str(Modulo + 4) + M],inplace = True)

  for i in range(len(Model)):

    Model.at[i,'(FILENAME)'] = sub + str(int(Model.at[i,'(FILENAME)'][8:11]) + pag) + Model.at[i,'(FILENAME)'][11::]
  
  Modulo = Modulo + 4
  return Model, n, Modulo, Rack

In [ ]:
###################################################################################################################
####                                    CREAR EXCELL DE COMPONENTES BORNERAS                                    ###
###################################################################################################################

import pandas as pd

Data_born = pd.DataFrame()
Modulo = 17
Rack =''
n = 0

#############################################################################
####                               ENTRADAS 24                            ###
#############################################################################

# PASAR PLANTILLA A PRIMER MODULO (17ED)

if Modulos_24 > 0:
    
  df = pd.read_excel('R15-RTU_03.XLS')
  Model = df.copy()
  Data_born = pd.concat([Data_born,Model])

  for i in range(0,Modulos_24-1):
    [Model,n,Modulo,Rack] = Change_born(Model,Modulo,Rack,2,n,sub,"ED")
    Data_born = pd.concat([Data_born,Model])

#############################################################################
####                               ENTRADAS 125                           ###
#############################################################################

df = pd.read_excel('R15-RTU_04.XLS') #, sheet_name='COMP'
Model = df.copy()

if Modulos_24 == 0:

  Data_born = pd.concat([Data_born,Model])
  
else:
  # Estos valores se cambian por el modulo actual
  [Model,n,Modulo,Rack] = Change_born_IN(Model,Modulo,Rack,25,'2',0,n,sub,"ED")
  Data_born = pd.concat([Data_born,Model])

  for i in range(0,Modulos_125-1):
      [Model,n,Modulo,Rack] = Change_born(Model,Modulo,Rack,4,n,sub,"ED")
      Data_born = pd.concat([Data_born,Model])

In [ ]:
#############################################################################
####                               SALIDAS                                ###
#############################################################################

df = pd.read_excel('R33-RTU_05.XLS') #, sheet_name='COMP'
Model = df.copy()

if Modulos_24 == 0:

  Data_born = pd.concat([Data_born,Model])
  
else:
  # Estos valores se cambian por el modulo actual
  [Model,n,Modulo,Rack] = Change_born_IN(Model,Modulo,Rack,41,'2',0,n,sub,"SD")
  Data_born = pd.concat([Data_born,Model])

  for i in range(0,Modulos_salidas-1):
      [Model,n,Modulo,Rack] = Change_born(Model,Modulo,Rack,2,n,sub,"SD")
      Data_born = pd.concat([Data_born,Model])

In [ ]:
Data_born.TAGSTRIP[Data_born['TAGSTRIP'] == '261SD']
Data_born['(FILENAME)'].unique()

array(['R15-RTU-141.DWG', 'R15-RTU-140.DWG', 'R15-RTU-143.DWG',
       'R15-RTU-142.DWG', 'R15-RTU-145.DWG', 'R15-RTU-144.DWG',
       'R15-RTU-147.DWG', 'R15-RTU-146.DWG', 'R15-RTU-148.DWG',
       'R15-RTU-149.DWG', 'R15-RTU-150.DWG', 'R15-RTU-151.DWG',
       'R15-RTU-152.DWG', 'R15-RTU-153.DWG', 'R15-RTU-154.DWG',
       'R15-RTU-155.DWG', 'R15-RTU-156.DWG', 'R15-RTU-157.DWG',
       'R15-RTU-158.DWG', 'R15-RTU-159.DWG', 'R15-RTU-160.DWG',
       'R15-RTU-161.DWG', 'R15-RTU-162.DWG', 'R15-RTU-163.DWG',
       'R15-RTU-164.DWG', 'R15-RTU-165.DWG', 'R15-RTU-166.DWG',
       'R15-RTU-167.DWG', 'R15-RTU-168.DWG', 'R15-RTU-169.DWG',
       'R15-RTU-170.DWG', 'R15-RTU-171.DWG', 'R15-RTU-172.DWG',
       'R15-RTU-173.DWG', 'R15-RTU-174.DWG', 'R15-RTU-175.DWG',
       'R15-RTU-176.DWG', 'R15-RTU-177.DWG', 'R15-RTU-178.DWG',
       'R15-RTU-179.DWG'], dtype=object)

In [ ]:
Data_born.to_excel(sub + 'BORN_COPIAR.xls', index=False)

# GENERAR SIG

In [ ]:
df = pd.read_excel('R15-RTU_06.XLS')
Model = df.copy()
Data_cont = pd.DataFrame()
Data_cont = pd.concat([Data_cont,Model])

n = 0

for j in range(1,Modulos_24):
    for i in range(1,4):
      Model.replace(['SIG'+str(i) + '_' + str(100 + n)],['SIG'+str(i) + '_' + str(100 + j)],inplace = True)
      Model.replace(['RTU'+str(i) + '_' + str(100 + n)],['RTU'+str(i) + '_' + str(100 + j)],inplace = True)
      Model.replace(['S'+str(i) + '_' + str(100 + n)],['S'+str(i) + '_' + str(100 + j)],inplace = True)

    for i in range(len(Model)):

        Model.at[i,'(FILENAME)'] = Model.at[i, '(FILENAME)'][0:8] + str(int(Model.at[i,'(FILENAME)'][8:11]) + 2) + Model.at[i,'(FILENAME)'][11::]
        
    n += 1
    Data_cont = pd.concat([Data_cont,Model])

In [ ]:
#Data_cont.TAGSTRIP[Data_born['TAGSTRIP'] == '261SD']
Data_cont['(FILENAME)'].unique()
#Data_cont.iloc[0:10]
n

3

In [ ]:
df = pd.read_excel('R15-RTU_09.XLS')
Model = df.copy()
SIG_I = 100


for i in range(1,8):
  Model.replace(['SIG'+str(i) + '_' + str(SIG_I)],['SIG'+str(i) + '_' + str(SIG_I + n + 1)],inplace = True)
  Model.replace(['RTU'+str(i) + '_' + str(SIG_I)],['RTU'+str(i) + '_' + str(SIG_I + n + 1)],inplace = True)
n += 1
Data_cont = pd.concat([Data_cont,Model])

In [ ]:
Data_cont[176:196]

   WIRENO   SIGCODE (REF) (TYP)   (HDL)  (ATTPROMPT)   DESC1       (FILENAME)
0     ???  SIG2_111    4D     S  h=7F7E          NaN      S-  R15-RTU-176.DWG
1     ???  SIG1_111    2D     S  h=7F9E          NaN    RTU+  R15-RTU-176.DWG
2     NaN      AM11    1C     A  h=7FC3          NaN    RTU-  R15-RTU-176.DWG
3     286  RTU1_111    2A     D  h=7FD8          NaN    RTU+  R15-RTU-176.DWG
4     ???  SIG2_111    4A     D  h=686E          NaN      S-  R15-RTU-177.DWG
5     ???  SIG4_111    4D     S  h=6877          NaN      S-  R15-RTU-177.DWG
6     ???  SIG1_111    2A     D  h=68F3          NaN  +65VDC  R15-RTU-177.DWG
7     ???  SIG3_111    2D     S  h=6903          NaN    RTU+  R15-RTU-177.DWG
8     NaN      AM11    1A     B  h=6920          NaN    RTU-  R15-RTU-177.DWG
9     ???  RTU2_111    2D     D  h=694E          NaN    RTU-  R15-RTU-177.DWG
10    ???   SIG2931    4B     S  h=6B53          NaN      S-  R15-RTU-177.DWG
11    ???  SIG4_111    4A     D  h=675F          NaN      S-  R15-RTU-178.DWG
12    ???  SIG3_111    2A     D  h=678A          NaN    RTU+  R15-RTU-178.DWG
13    ???  SIG5_111    2D     S  h=679A          NaN    RTU+  R15-RTU-178.DWG
14    NaN      AM12    1C     A  h=67B6          NaN    RTU-  R15-RTU-178.DWG
15    ???  SIG6_111    4D     S  h=69FA          NaN      S-  R15-RTU-178.DWG
16    ???  SIG5_111    2A     D  h=6705          NaN    RTU+  R15-RTU-179.DWG
17    NaN      AM12    1A     B  h=672B          NaN    RTU-  R15-RTU-179.DWG
18    ???  RTU3_111    2D     D  h=6759          NaN    RTU-  R15-RTU-179.DWG
19    ???  SIG7_111    4D     S  h=6915          NaN      S-  R15-RTU-179.DWG

In [ ]:
for j in range(1,Modulos_125):
    for i in range(1,8):
      Model.replace(['SIG'+str(i) + '_' + str(SIG_I + n + j -1)],['SIG'+str(i) + '_' + str(SIG_I + n + j)],inplace = True)
      Model.replace(['RTU'+str(i) + '_' + str(SIG_I + n + j -1)],['RTU'+str(i) + '_' + str(SIG_I + n + j)],inplace = True)

    for i in range(len(Model)):
    
        Model.at[i,'(FILENAME)'] = Model.at[i, '(FILENAME)'][0:8] + str(int(Model.at[i,'(FILENAME)'][8:11]) + 4) + Model.at[i,'(FILENAME)'][11::]

    Data_cont = pd.concat([Data_cont,Model])

In [ ]:
Data_cont.to_excel(sub + 'SIG_COPIAR.xls', index=False)

<ipython-input-84-e90e7445e985>:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  Data_cont.to_excel(sub + 'SIG_COPIAR.xls', index=False)

#DESCRIPCIONES

In [ ]:
df = pd.read_excel('R33-RTU_CONF_ORIGINAL.XLS')
Model = df.copy()
Data_info = pd.DataFrame()
Num_Modulos = 73
Modulo = 17
Rack =''
n = 0
H = 150

for i in range(1,Num_Modulos):

  if Modulo > 65 - 4 and n < 1:
    Modulo = 13
    n = n+1
    Rack = str(n)
    R = 'R' + Rack + 'BIR01S'
  elif Modulo > 81 - 4:
    Modulo = 13
    n = n+1
    Rack = str(n)
    R = 'R' + Rack + 'BIR01S'

  for i in range(len(Model)):
    
    Model.at[i,'(DWGNAM)'] = 'R50-RTU-' + str(H+i)
    Model.at[i,'SH'] = str(H+i)
    Model.at[i,'(FULLFILENAME)'] = Model['(FULLFILENAME)'][i][0:-7] + str(H+i)+'.dwg'
    Model.at[i,'DWGDESC3'] = 'MODULO ' + Rack + str(Modulo) +'ED'


  H = H + 4
  Modulo = Modulo + 4
  Data_info = pd.concat([Data_info,Model])

In [ ]:
Data_info.to_excel('R50-RTU-CONF_COPIAR.xls', index=False)